@include block('stat') {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 30px;

    @include element('head') {
        padding: 20px;
        background-color: $bg-block-color-focus;
        font-size: 32px;
        line-height: 32px;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
    }

    @include element('item') {
        padding: 20px;
        margin-bottom: 1px;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease;
        background-color: $bg-block-color;
        text-align: center;

        &:hover {
            transform: scale(1.04, 1.04);
        }
    }
}
