@include block('c-table') {

    td {
        padding: 10px 20px;
    }

    @include element('head') {
        font-weight: bold;
    }

    @include element('row') {
        &:nth-child(2n+1){
            background-color: darken(#fff, 3%);
        }
    }
}
