@include block('c-table') {
    width: 100%;
    margin: 20px 0;

    @media screen and (max-width: $wrapper-width) {
        display: block;

        tbody {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 -0.5%;
        }
    }

    @include element('head') {
        td {
            padding-bottom: 10px;
        }

        & > * {
            text-align: center;
        }

        @media screen and (max-width: $wrapper-width) {
            display: none;
        }
    }

    @include element('row') {
        cursor: pointer;
        border-top: 2px solid $bg-body-color;
        border-bottom: 2px solid $bg-body-color;
        transition: all 0.2s ease;

        &:hover {
            background-color: $bg-block-color-focus;
            transform: scale(1.02, 1.02);
        }

        & > * {
            text-align: center;
        }

        @media screen and (max-width: $wrapper-width) {
            display: block;
            padding: 10px;
            box-sizing: border-box;
            flex: 0 0 32.3333%;
            margin: 0 0.5% 0.5%;
        }

        @media screen and (max-width: $tablet-width) {
            flex: 0 0 49%;
        }

        @media screen and (max-width: $phone-width) {
            flex: 0 0 99%;
        }


        td {
            padding: 25px 20px;
            word-wrap: break-word;

            .label {
                display: none;
            }

            @media screen and (max-width: $wrapper-width) {
                display: block;
                padding: 10px 10px;

                .label {
                    display: block;
                }
            }
        }
    }

    @include element('phone') {
        min-width: 200px;
    }
}
