<h2 class="text-center color-light">{{title}}</h2>
<h2 class="text-center"><strong>Usernames</strong> starting with a letter:</h2>

<div class="Grid Grid--1of4 Grid--wrap Grid--jcenter mtl">
    <div class="Grid-cell stat" ng-repeat="stat in stats">
        <div class="block stat__head">
            <span>{{stat.letter}}</span> <span>:</span> <span>{{stat.count}}</span>
        </div>
        <div class="block stat__item" ng-repeat="user in stat.users" ng-click="openContact(user.id)">
            <p>{{user.username}}</p>
        </div>
    </div>
</div>
