<div class="input-block">
    <input class="block" type="text" ng-model="query" placeholder="Search..."/>
</div>

<table class="c-table">
    <tr class="c-table__head label">
        <td>
            <span>Hero</span>&nbsp;label
        </td>
        <td>
            <span>Hero</span>&nbsp;name
        </td>
        <td ng-click="sortBy('name')">
            Name
            <i class="fa" ng-class="{'fa-arrow-circle-down': reverse, 'fa-arrow-circle-up': !reverse}" ng-show="propertyName === 'name'" aria-hidden="true"></span>
        </td>
        <td ng-click="sortBy('username')">
            Username
            <i class="fa" ng-class="{'fa-arrow-circle-down': reverse, 'fa-arrow-circle-up': !reverse}" ng-show="propertyName === 'username'" aria-hidden="true"></span>
        </td>
        <td ng-click="sortBy('email')">
            Email
            <i class="fa" ng-class="{'fa-arrow-circle-down': reverse, 'fa-arrow-circle-up': !reverse}" ng-show="propertyName === 'email'" aria-hidden="true"></span>
        </td>
        <td ng-click="sortBy('phone')">
            Phone
            <i class="fa" ng-class="{'fa-arrow-circle-down': reverse, 'fa-arrow-circle-up': !reverse}" ng-show="propertyName === 'phone'" aria-hidden="true"></span>
        </td>
    </tr>
    <tr class="c-table__row block" ng-repeat="user in users | filter: search | orderBy:propertyName:reverse" ng-click="openContact(user.id)">
        <td><img ng-src="{{user.hero.img}}" alt=""/></td>
        <td>
            <span class="label"><span class="color-accent">Hero</span>&nbsp;name:&nbsp;</span>
            {{user.hero.name}}
        </td>
        <td>
            <span class="label">name:&nbsp;</span>
            {{user.name}}
        </td>
        <td>
            <span class="label">username:&nbsp;</span>
            {{user.username}}
        </td>
        <td>
            <span class="label">email:&nbsp;</span>
            {{user.email}}
        </td>
        <td class="c-table__phone">
            <span class="label">phone:&nbsp;</span>
            {{user.phone}}
        </td>
    </tr>
</table>

<div class="spinner" ng-show="loading">
    <img src="img/logo.png" alt="" />
</div>
