
.color-dark {
	color: $color-dark !important;
}

.color-accent {
	color: $color-accent !important;
}

.color-light {
	color: $color-light !important;
}

.text-center {
	text-align: center;
}

.mtl {
	margin-top: 60px;
}
