$font-label: 'Open Sans', serif;
$font-text: 'Roboto Slab', serif;

$color-dark: #454545;
$color-accent: #e0a53f;
$color-light: #dbdbdb;

$bg-body-color: #eaeaea;
$bg-block-color: #f4f4f4;
$bg-block-color-focus: #ffffff;

$wrapper-width: 1100px;
