$hover-color: rgba(0,0,0,1);
$hover-color2: rgba(255,255,255,0.85);

$emp-color: #3EA1EC;
$dark-grey: #333333;

$bg-color1: #ededeb;

$link-color: $dark-grey;
$link-hover-color: $emp-color;

$btn-color: #aaa;
$btn-hover-color: $emp-color;

$tablet-screen: 1024px;
